# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [ ]:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Data Science Tools

In [ ]:
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Showcase tools used in Data Science.
- Evaluate arithmetic expressions in Python.
- Convert time units using Python.

## Author
Sibongiseni Ndlangamandla